/* position absolute is used to lift the box */
/* postion relative is to make sure that child should not go outside of its parent */

/* FLEXBOX */
   /* Height - align-items 
      Width - justify-content*/



/* understanding CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
/* write above style in all css */
#box{
    justify-content:space-around;
    align-items: end;
    display: flex;
    width: 500px;
    height: 500px;
    background-color: grey;
}
#box1{
    
    width: 100px;
    height:100px;
    background-color: red;
}
#box2{
    width: 100px;
    height:100px;
    background-color: yellowgreen;
    
}
#box3{
    width: 120px;
    height:100px;
    background-color: turquoise;
}

